@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

$fuente-princial: 'Exo 2', sans-serif;

//Colores de fuentes



$bold: 700;
$ultra-bold: 900;

$normal: 1.5rem;
$grande: 2rem;

